<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994888229101-1188umj31nhtjhfib9uo8u1rbmb7kut3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994888229101-1188umj31nhtjhfib9uo8u1rbmb7kut3</string>
	<key>API_KEY</key>
	<string>AIzaSyBx4WwBfApG5DKuL6XoNcMQswk6g2gwzKw</string>
	<key>GCM_SENDER_ID</key>
	<string>994888229101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherShare</string>
	<key>PROJECT_ID</key>
	<string>weather-share-40076</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-share-40076.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994888229101:ios:d6097c040f01d8db31ece4</string>
</dict>
</plist>